.root {
    position: relative;
    width: 300px;
    margin: 0 auto;
    height: 42px;

    @media(max-width:700px) {
        width: 150px;
    }

    @media(max-width:600px) {
        width: 80%;
    }

    .clear {
        position: absolute;
        right: 40px;
        width: 25px;
        height: 25px;
        top: 6px;
        opacity: 0.4;
        cursor: pointer;
        z-index: 1;
        display: block;


        &:hover {
            opacity: 0.8;
        }

        @media(max-width:600px) {
            display: none;
        }
    }

    form .input:focus~.clear {
        right: 0%;
        transform: translateX(0);
        transition: all 0.6s ease-in-out;
    }


    .none {
        display: none;
    }

    .form {
        position: relative;
        width: 300px;
        margin: 0 auto;
        height: 42px;

        @media(max-width:700px) {
            width: 150px;
        }

        @media(max-width:600px) {
            width: 80%;
        }


        .input {
            height: 42px;
            width: 100%;
            padding: 0 64px 0px 5px;
            border: none;
            border-bottom: 2px solid transparent;
            outline: none;
            background: transparent;
            position: absolute;

            top: 0;
            right: 0;
            z-index: 1;
            font-size: 18px;
            transition: all 0.5s ease-in;

            @media(max-width:900px) {
                width: 0;
                opacity: 0;
            }

            @media(max-width:600px) {
                right: 50%;
                transform: translateX(50%);
                border-bottom: none;


            }
        }

        .input:focus {
            z-index: 1;
            border-bottom: 3px solid black;
            opacity: 1;


            @media(max-width:900px) {
                right: 0%;
                transform: translateX(0);
                width: 80%;
            }

        }

        .input:focus~.icon,
        .input:focus~button,
        .input:focus~.clear {
            right: 0%;
            transform: translateX(0);
            transition: all 0.6s ease-in-out;
        }

        .input:focus~.clear {
            right: 40px;
            transform: translateX(0);
        }

        button {
            background: transparent;
            border: none;
            height: 42px;
            width: 42px;
            position: absolute;
            top: 0;
            right: 0;
            cursor: pointer;

            @media(max-width:600px) {
                right: 50%;
                transform: translateX(50%);
            }

        }

        .icon {
            width: 40px;
            height: 40px;
            position: absolute;
            top: 0;
            right: 0%;
            cursor: pointer;


            @media(max-width:600px) {
                right: 50%;
                transform: translateX(50%);
                transition: all 0.7s ease-in-out;

            }
        }



    }

}