.content {

    display: grid;
    // grid-template-columns: repeat(3, 1fr);
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 15px;
    grid-row-gap: 30px;




}

.videoCard {
    max-width: 390px;

    iframe {
        min-width: 90%;
        min-height: 80%;
        border-radius: 20px;

    }

}