.thumbWrap {
    position: relative;
    padding-bottom: 56.25%;
    /* задаёт высоту контейнера для 16:9 (если 4:3 — поставьте 75%) */
    height: 0;
    overflow: hidden;
}

.video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-width: 0;
    outline-width: 0;
    border-radius: 20px;
}

.videoCardNet {
    padding: 10px;
    position: relative;
    text-align: center;


    .text {
        width: 100%;
        height: 28px;
    }

    p {
        text-align: center;
        font-size: 18px;
        font-weight: 500;

    }

}

.videoCardList {
    max-width: 390px;
    padding: 10px;

    iframe {

        border-radius: 20px;

    }

    p {
        height: 100px;
        max-width: 390px;
    }

}

.videoBtn {
    position: absolute;
    top: 30%;
    left: 34%;
    width: 68px;
    height: 48px;
    border: none;
    background-color: transparent;
    cursor: pointer;

    svg {
        fill: white;
        fill-opacity: 0.6;


    }

    &hover {
        svg {
            fill: red;
            fill-opacity: 1;
        }
    }

}