.root {
    position: relative;
    text-align: start;
    font-size: 18px;

    .label {
        span {
            cursor: pointer;
        }
    }

    .sortPopup {
        position: absolute;
        z-index: 1;
        background: var(--background-color-App);
        opacity: 1;
        border-radius: 10px;
        left: 52%;
        padding: 5px 10px;
        font-weight: 400;

        ul {

            padding: 0;
            list-style-type: none;

            li {
                cursor: pointer;
                margin-bottom: 5px;
            }


        }
    }

    .active {
        font-weight: 700;
    }
}

.wrapper {
    padding: 15px;
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    svg {
        margin-right: 10px;
        fill: var(--text-color);
        opacity: 0.7;
        width: 24px;
        height: 24px;
        cursor: pointer;

        @media(max-width:700px) {
            display: none;
        }


        &:hover {
            opacity: 1;
            transform: scale(1.01);
        }
    }
}




.active {
    svg {
        opacity: 1;
    }
}